
{% extends "base.html" %}
<body>
    {% block content %}
    <body style ='color: white'></p>
    <br>
    </br>
    <br>
    </br>
    <h1> <span style = "font-family: Snell Roundhand, cursive; font-size:80px;"> Welcome to Kosher Recipes </span></h1>
    <button class="returnButton"><a href="{{url_for('feed')}}">continue</a></button>
    <br>
    </br>
    <br>
    </br>
    <body>
        <span style = "font-family: comic sans-serif; font-size:40px;"> The number one place to share your favorite kosher recipes. Share and create wonderful disher!
    </body>
    {% endblock %}
   
</body>
</html>